body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.react-app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to bottom, #1b5e20, #000);
  color: #fff;
}

a {
  color: #ffeb3b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .character-box {
    width: calc(40% - 10px);
  }
}

.app-container {
  display: flex;
}

.navbar {
  width: 20%;
  padding: 20px;
  background-color: #424242;
}

.navbar a,
.navbar a:hover {
  color: #fff;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
}

.episode-list {
  background-color: #00838f;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  overflow-y: auto;
  max-height: 400px;
}

.episode-list h2 {
  color: #fff;
}

.episode-list ul {
  padding: 0;
  margin: 0;
}

.episode-list li {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.episode-list li:hover {
  background-color: #005662;
}

.episode-list .selected {
  background-color: #d84315;
  color: #fff;
}

.character-list {
  margin-top: 20px;
}

.characters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.character-box {
  background-color: #7cb342;
  border-radius: 8px;
  padding: 10px;
  width: calc(20% - 10px);
  margin-bottom: 10px;
}

.character-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.character-box p {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #084b03;
  height: 120px;
  color: #fff;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.character-detail {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.character-detail h2 {
  color: #333;
  margin-bottom: 10px;
}

.character-detail div {
  margin-bottom: 15px;
}

.character-detail strong {
  font-weight: bold;
}

.character-detail a {
  color: #007bff;
  text-decoration: none;
}

.character-detail a:hover {
  text-decoration: underline;
}

.episodes-box {
  background-color: #cfd8dc;
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
}

.episodes-box h3 {
  color: #333;
}

.episodes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.episode-item {
  background-color: #ffcc29;
  color: #333;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.episode-item a {
  color: #333;
}

.episode-item a:hover {
  text-decoration: underline;
}
